body {
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}
.wrapper {
  display: flex;
  flex-direction: row-reverse;
  background: #ffffff;
  width: 1200px;
  margin: auto;
}

.main_content {
  padding-left: 88px;
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
}
.about_my {
  margin-bottom: 40px;
}

.sidebar {
  background: #dfeeff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.my_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 8px;
}

.my_summary {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.sidebar_content {
  padding-top: 40px;
  padding-right: 80px;
  padding-left: 40px;
}
.sidebar_title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #161d2a;
  margin-bottom: 8px;
}
.contacts_conteiner {
  margin-bottom: 40px;
}
.contacts_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
}
.contacts_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  margin-left: 8px;
}
.skills_conteiner {
  margin-bottom: 40px;
}
.skills_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #161d2a;
  list-style: disc;
}
.skills_list {
  padding-left: 28px;
}
.my_proffesion {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 8px;
}
.main_content_title {
  margin-bottom: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
}
.progects_container {
  margin-bottom: 44px;
}
.progects_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  list-style: decimal;
}
.progects_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #2779ff;
  text-decoration-line: underline;
}
.progects_tech {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.progects_list {
  padding-left: 19px;
}
.company_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 12px;
  margin-top: 11px;
}
.company_position_accsent {
  color: #6096ff;
}
.company_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}
.company_duties_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  list-style: disc;
  margin-left: 28px;
}
.company_conteiner {
  margin-bottom: 8px;
}
.my_education {
  margin-top: 27px;
}
.education_position_accsent {
  color: #6096ff;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 11px;
}
